<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

	<!-- 印章sevice -->
	<bean id="sealApplyService" class="com.bhtec.service.impl.seal.sealapply.SealApplyServiceImpl"
		parent="baseService">
		<property name="sealApplyDao"><ref bean="sealApplyDao"/></property>
		<property name="typeDictionaryService"><ref bean="typeDictionaryService"/></property>
	</bean>

	<bean id="sealChipService" class="com.bhtec.service.impl.seal.chip.SealChipServiceImpl"
		  parent="baseService">
		<property name="sealChipDao"><ref bean="sealChipDao"/></property>
	</bean>

	<bean id="sealDataQueryService" class="com.bhtec.service.impl.seal.dataquery.SealDataQueryServiceImpl"
		  parent="baseService">
		<property name="sealDataQueryDao"><ref bean="sealDataQueryDao"/></property>
		<property name="typeDictionaryService"><ref bean="typeDictionaryService"/></property>
	</bean>
</beans>
